### What is List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Python Lists are just like dynamically sized arrays, declared in other languages (vector in C++ and ArrayList in Java). In simple language, a list is a collection of things, enclosed in [ ] and separated by commas.

In [7]:
mylist = ["apple","banana","mango"]
print(mylist)

['apple', 'banana', 'mango']

#### Examples of List

In [22]:
list1 = [1,2,3,4,5]
list2 = ["apple","banana","mango"]
list3 = [3.4,9.6,8.4]
list4 = [True,False,True,False]
list5 = [10,20,30,40,50]
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[1, 2, 3, 4, 5]
['apple', 'banana', 'mango']
[3.4, 9.6, 8.4]
[True, False, True, False]
[10, 20, 30, 40, 50]

### Indexing

You access a specific element in a list by its index(position).

Index starts at 0: The first item is at index 0,the second at index 1,and so on.

#### Positive Index

In Python, positive zero-based indexing is the fundamental method for accessing iterable items.

As a result, an index starting at 0 may refer to any element in the iterable.

The first element in zero-based indexing has an index of 0, the second has an index of 1, and so on.

#### Negative Index

 The last element can be accessed using the index -1, the second to last element using the index -2, and so on.
 
 Negative indexes can be useful for accessing elements from the end of a data structure without having to know the exact length of the data structure.

#### Examples of Indexing

In [38]:
mylist = [1,2,3,4,5]
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])

1
2
3
4
5

In [36]:
mylist = [1,2,3,4,5]
print(mylist[-1])
print(mylist[-2])
print(mylist[-3])
print(mylist[-4])
print(mylist[-5])

5
4
3
2
1

### Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

#### Examples of slicing

In [80]:
mylist = [1,2,3,4,5,6,7,8,9,10]
print(mylist[0:3])
print(mylist[2:4])
print(mylist[5:])
print(mylist[:7])
print(mylist[:])

[1, 2, 3]
[3, 4]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Creating a list 1 to 20 numbers using 10 positive and 10 negative elements

In [66]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])
print(numbers[5])
print(numbers[6])
print(numbers[7])
print(numbers[8])
print(numbers[9])
print(numbers[-1])
print(numbers[-2])
print(numbers[-3])
print(numbers[-4])
print(numbers[-5])
print(numbers[-6])
print(numbers[-7])
print(numbers[-8])
print(numbers[-9])
print(numbers[-10])

1
2
3
4
5
6
7
8
9
10
20
19
18
17
16
15
14
13
12
11

### Concatenation

Concatenation in Python refers to combining sequences such as strings, lists, or tuples.

In [70]:
a = [1,2,3]
b = [4,5,6]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [72]:
list1 = [1.2,3.4,4.5]
list2 = [5.6,6.8,7.9]
list3 = list1 + list2
print(list3)

[1.2, 3.4, 4.5, 5.6, 6.8, 7.9]

In [78]:
fruits = ["apple","banana","cherry"]
vegetables = ["tomato","brinjal","potato"]
mixed = fruits + vegetables
print(mixed)

['apple', 'banana', 'cherry', 'tomato', 'brinjal', 'potato']

In [84]:
word1 = ["Hello"]
word2 = ["world"]
result = word1 + word2
print(result)

['Hello', 'world']

### Repetition

Repetition in Python allows you to repeat sequences such as strings, lists, or tuples multiple times.

In [90]:
a = [1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [88]:
var = ["Hello"]
print(var*3)

['Hello', 'Hello', 'Hello']

In [92]:
fruits = ["apple","banana","cherry"]
print(fruits*4)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

In [96]:
vegetables = ["potato","tomato",]
print(vegetables*5)

['potato', 'tomato', 'potato', 'tomato', 'potato', 'tomato', 'potato', 'tomato', 'potato', 'tomato']


### List methods

#### 1.Append()

Adds an element to the end of the list.

In [15]:
str = ["apple","banana","cherry"]
str.append("mango")
print(str)

['apple', 'banana', 'cherry', 'mango']

#### 2.Extend()

Appends elements from another iterable to the end.

In [19]:
lst1 = ["pen","ball","cap"]
lst2 = ["bottle","chips","box","book"]
lst1.extend(lst2)
print(lst1)

['pen', 'ball', 'cap', 'bottle', 'chips', 'box', 'book']

#### 3.Insert()

Inserts an element at a specified position.

In [27]:
fruits = ["apple","banana","cherry"]
fruits.insert(1,"pineapple")
print(fruits)

['apple', 'pineapple', 'banana', 'cherry']

#### 4.Remove()

Removes the first occurance of a value.

In [31]:
numbers = [10,20,30,10,40,20,40,10,30]
numbers.remove(10)
print(numbers)

[20, 30, 10, 40, 20, 40, 10, 30]

#### 5.Pop()

Removes and returns an element as a specified index.

In [35]:
items = ["pen","book","pencil","cap","bottle"]
popped_element = items.pop(0)
print(items)
print(popped_element)

['book', 'pencil', 'cap', 'bottle']
pen

#### 6.Index()

Returns the index of the first occurance of a value.

In [39]:
lst = ["apple","banana","cherry","pineapple","mango"]
index = lst.index("cherry")
print(index)

2

#### 7.Count()

Returns the number of occurances of a value.

In [45]:
numbers = [1,2,5,8,0,3,4,2,2,9,8,6,4,2,9,5]
count = numbers.count(4)
print(count)

2

#### 8.Sort()

sorts the list in ascending order.

In [53]:
numbers = [-10,7,3,9,4,2,10,5,8,-4,1,-8,6]
numbers.sort()
print(numbers)

[-10, -8, -4, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 9.Reverse()

Reverses the order of elements in the list.

In [57]:
list = ["apple","banana","cherry"]
list.reverse()
print(list)

['cherry', 'banana', 'apple']