### Inheritance():

In [61]:
class student():
    def name(self):
        print("My name is lokesh")

class id(student):
    def id(self):
        print("My id is 101")

In [63]:
obj = id()

obj.name()
obj.id()

My name is lokesh
My id is 101

In [67]:
class student1():
    def name(self):
        print("My name is pranay")

class id1(student1):
    def id(self):
        print("My id is 102")

class age(student1):
    def age(self):
        print("My age is 23")

In [73]:
obj1 = id1()

obj1.name()
obj1.id()

My name is pranay
My id is 102

In [75]:
obj2 = age()

obj2.name()
obj2.age()

My name is pranay
My age is 23

In [1]:
class student2():
    def name(self):
        print("My name is pranay")

class student3():
    def name1(self):
        print("My name is kittu")

class age(student2,student3):
    def age(self):
        print("My age is 23")

In [3]:
obj1 = age()

obj1.name()
obj1.age()

My name is pranay
My age is 23

In [5]:
obj2 = age()

obj2.name1()
obj2.age()

My name is kittu
My age is 23

In [25]:
class Men():
    def name(self):
        print("My name is jack")

class Women():
    def name1(self):
        print("My name is priya")

class child1(Men,Women):
    def age(self):
        print("child1 age is 2")

class child2(Men,Women):
    def age1(self):
        print("child2 age is 4")

In [27]:
obj1 = child1()

obj1.name()
obj1.name1()
obj1.age()

My name is jack
My name is priya
child1 age is 2

In [29]:
obj2 = child2()

obj2.name()
obj2.name1()
obj2.age1()

My name is jack
My name is priya
child2 age is 4

### Encapsulation():

In [49]:
class atm():
    def __init__(self,accountno,pin):
        self.__accountno = accountno
        self._pin = pin
        print(self.__accountno)

    def output(self):
        print(self._pin)

In [51]:
obj = atm(1122334455,1122)

print(obj.output())

1122334455
1122
None

### Polymorphism():

In [110]:
class sum():
    def add(self,a,b):
        return a+b

    def sub(self,a,b):
        return a-b

    def mul(self,a,b):
        return a*b

In [146]:
obj1 = sum()

print(obj1.add(2,4))
print(obj1.add("j","k"))
print(obj1.add(2.1,4.9))
print(obj1.add("1+3j","2+4j"))

6
jk
7.0
1+3j2+4j

In [148]:
obj2 = sum()

print(obj2.sub(6,4))
print(obj2.sub(8.7,4.9))

2
3.799999999999999

In [154]:
obj3 = sum()

print(obj3.mul(2,3))
print(obj3.mul(2.4,5.7))

6
13.68